package template

templ TomlInput(value, err string) {
	<div class="container center" id="toml-response-div">
		<b>TOML data:</b>
		<button
			hx-post="/toml"
			hx-include="[name='tomlData']"
			hx-swap="outerHTML"
			hx-target="#toml-response-div"
		>Submit</button>
		<br>
		if err != "" {
			<div>
				{ err }
			</div>
		} else {
			<div>
				ok
			</div>
		}
		<textarea
			type="text"
			cols="40"
			rows="10"
			name="tomlData"
			id="tomlData"
		>{ value }</textarea>
	</div>
}
