:root {
  --navBarBackgroundColor: #4d94ff;
  --bodyBackground: white;
}

body {
  margin: 0px;
  font-size: 16px;
  background-color: var(--bodyBackground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.container {
  height: 200px;
  position: relative;
}

.center {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-bar {
  line-height: 48px;
  background: var(--navBarBackgroundColor);
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  margin-bottom:1em;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a div {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
